body {
    background-image: url("Login_Fondo.png");
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
    overflow: hidden;

}

.label {
    font-family: "Arial", sans-serif;
    font-size: 50px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.header {
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    margin-top: -44px;
}

.footer{
    align-items: center;
    padding: 20px;
    text-align: center;
    display: ruby;
}

.datos_personales {
    border: 2px solid white;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
    font-family: "Arial", sans-serif;
    text-align: left;
    width: 1200px;
}

.izquierda {
    margin-left: 20px;
    margin-right: 30px;
    float: left;
    text-align: center;


}

.derecha {
    margin-right: 20px;
    justify-items: center;


}

.input-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 56px;

}

.input {
    outline: none;
    font-family: "Arial", sans-serif;
    font-size: 19px;
    width: 256px;
    display: inline-block;
}

.textolabel {
    font-family: "Arial", sans-serif;
    font-size: 21px;
    margin-right: 75px;
    text-align: right;
}

.empresa{
    border: 2px solid white;
    margin-left: 10px;
    padding: 20px;
    width: 600px;
}

.titulo {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: white;
}

.content {
    flex-grow: 1;
    padding: 20px;
    /*margin-right: 196px;*/
}

.content input {
    display: block;
    margin-bottom: 10px;
}

.botones {
    border-radius: 10px;
    background-color: #F6A83B;
    font-size: 30px;
    font-family: "Arial", sans-serif;
    display: table-column;
    padding: 20px;
    border: none;
    margin-right: 20px;
}

.botones:hover {

    background-color: #fc9252;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
}

.buttonIS {
    padding: 15px 55px 15px 55px;
    border: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background-color: #1F58A1;
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
}

.buttonIS:hover {
    padding: 15px 55px 15px 55px;
    border: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #1F58A1;
}

.buttonCS {
    padding: 15px 25px 15px 25px;
    border: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background-color: red;
    border-radius: 15px;
    color: white;

}

.buttonCS:hover {
    padding: 15px 25px 15px 25px;
    border: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background-color: white;
    border-radius: 15px;
    color: red;
}

.buttonEdit {
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background-color: #1F58A1;
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
}

.buttonEdit:hover {
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background-color: #4989de;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #1F58A1;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    color: black;
}

th, td {
    border: 1px solid #4989de;
    padding: 8px;
    justify-items: center;
    text-align: center;
    font-size: 15px;
    font-family: "Arial", sans-serif;
}
