<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/Pagina_AnadirActivadad.css" rel="stylesheet">
</head>
<body>

<div class="contenedor">
    <h1>Añadir Actividad</h1>

    <form action="/guardar_actividad" method="post">
        <div class="form-group columna1">
            <label class="label-group" for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>
        <div class="form-group columna1">
            <label class="label-group" for="horas">Horas Realizadas:</label>
            <input type="number" id="horas" name="horas" min="1" max="8" required>
        </div>
        <div class="form-group columna1">
            <label class="label-group" for="tipo">Tipo de Práctica:</label>
            <select id="tipo" name="tipo" required>
                <option value="DUAL">DUAL</option>
                <option value="FCT">FCT</option>
            </select>
        </div>
        <div class="form-group columna2">
            <label class="label-group" for="actividad">Actividad realizada:</label>
            <textarea rows ="4" cols="30" id="actividad" placeholder="Añadir aquí sus actividad realizada"></textarea>
        </div>
        <div class="form-group columna2">
            <label class="label-group" for="observacion">Observación:</label>
            <textarea rows ="4" cols="30" id="observacion"placeholder="Añade aquí tus observaciones"></textarea>
        </div>
        <div class="botones-container">
            <input type="submit" value="Añadir Actividad">
            <input id="botonCancelar" type="submit" value="Cancelar">
        </div>
    </form>
</div>
</body>
</html>
