<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/Pagina_EditarActividad.css" rel="stylesheet">
</head>
<body>

<div class="contenedor">
    <h1>Editar Actividad</h1>

    <form th:action="'/editar/'+ ${idActividad}" method="post">
        <div class="form-group columna1">
            <label class="label-group" for="fecha">Fecha:</label>
            <input type="date" th:value="${fecha}" id="fecha" name="fecha" required>
        </div>
        <div class="form-group columna1">
            <label class="label-group" for="horas">Horas Realizadas:</label>
            <input type="number" th:value="${horas}" id="horas" name="horas" min="1" max="8" required>
        </div>
        <div class="form-group columna1">
            <label class="label-group" for="tipo">Tipo de Práctica:</label>
            <select id="tipo" th:value="${tipo}" name="tipo" required>
                <option value="DUAL">DUAL</option>
                <option value="FCT">FCT</option>
            </select>
        </div>
        <div class="form-group columna2">
            <label class="label-group" for="actividad">Actividad realizada:</label>
            <textarea rows ="4" cols="30" id="actividad" placeholder="Añadir aquí sus actividad realizada" th:value="${actividad}"></textarea>
        </div>
        <div class="form-group columna4">
            <label class="label-group" for="observacion">Observación:</label>
            <textarea rows ="4" cols="30" id="observacion" placeholder="Añade aquí tus observaciones" th:value="${observacion}"></textarea>
        </div>

        <div class="botones-container">
            <input type="submit" value="Actualizar Actividad">
            <input type="submit" value="Eliminar Actividad">

            <form th:action="'/irAlum/' + ${idAlumno}" method="get">
                <input  id="botonCancelar" type="submit" value="Cancelar"/>
            </form>

        </div>
    </form>
</div>
</body>
</html>
