<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="/Pagina_Alumno.css" rel="stylesheet">
</head>
<body>
<label class="label">Bienvenido a Alumno</label>
<div class="header">
    <div class="datos_personales">
        <h2>Datos Personales</h2>
        <div class="izquierda">
            <div class="input-container">
                <label class="textolabel">DNI:</label>
                <input class="input" th:value="${alumno.dni}" type="text">
            </div>
            <div class="input-container">
                <label class="textolabel">Email:</label>
                <input class="input" th:value="${alumno.email}" type="email">
            </div>
            <div class="input-container">
                <label class="textolabel">Telefono:</label>
                <input class="input" th:value="${alumno.telefono}" type="text">
            </div>
            <div class="input-container">
                <label class="textolabel">Empresa:</label>
                <input class="input" th:value="${alumno.empresa.getNombre()}" type="text">
            </div>
        </div>
        <div class="derecha">
            <div class="input-container">
                <label class="textolabel">Fecha de nacimiento:</label>
                <input class="input" th:value="${alumno.nacimiento}" type="date">
            </div>
            <div class="input-container">
                <label class="textolabel">Profesor asignado:</label>
                <input class="input" th:value="${alumno.tutor.getNombre()}" type="text">
            </div>
            <div class="input-container">
                <label class="textolabel">Total horas realizadas:</label>
                <input class="input" th:value="${alumno.horasdual}" type="number">
            </div>
            <div class="input-container">
                <label class="textolabel">Total horas restantes:</label>
                <input class="input" th:value="700 - ${ alumno.horasdual}" type="number">
            </div>
        </div>
    </div>
</div>
<div class="content">
    <table>
        <tr>
            <th>Fecha</th>
            <th>Tipo de práctica</th>
            <th>Horas de el día</th>
            <th>Actividades realizada</th>
            <th>Observaciones</th>
        </tr>
        <!-- Iterar sobre la lista de actividades y mostrar cada una en una fila de la tabla -->
        <tr th:each="actividad : ${actividades}">
            <td th:text="${actividad.fecha}">Fecha de la actividad</td>
            <td th:text="${actividad.tipo}">Tipo de práctica</td>
            <td th:text="${actividad.horas}">Horas de la actividad</td>
            <td th:text="${actividad.actividad}">Descripción de la actividad</td>
            <td th:text="${actividad.observacion}">Observaciones</td>
        </tr>
    </table>
</div>
<div class="footer">
    <form action="" method="get">
        <button class="buttonIS" type="submit">Añadir</button>
    </form>
    <form action="/login/logout" method="get">
        <button class="buttonCS" type="submit">Cerrar Sesión</button>
    </form>
</div>
</body>
</html>