<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="/Pagina_Alumno.css" rel="stylesheet">
    <title class="label" th:text=" 'Bienvenid@ ' + ${alumno.nombre}" ></title>
</head>
<body>
<h1 class="label" th:text=" 'Bienvenid@ ' + ${alumno.nombre}" ></h1>
<div class="header">
    <div class="datos_personales">
        <h2 class="titulo">Datos Personales</h2>
        <div class="izquierda">
            <div class="input-container">
                <label class="textolabel">DNI:</label>
                <input class="input" th:value="${alumno.dni}" type="text" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Email:</label>
                <input class="input" th:value="${alumno.email}" type="email" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Telefono:</label>
                <input class="input" th:value="${alumno.telefono}" type="text" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Empresa:</label>
                <input class="input" th:value="${alumno.empresa.getNombre()}" type="text" readonly>
            </div>
        </div>
        <div class="derecha">
            <div class="input-container">
                <label class="textolabel">Fecha de nacimiento:</label>
                <input class="input" th:value="${#dates.format(alumno.nacimiento, 'yyyy-MM-dd')}" type="date" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Profesor asignado:</label>
                <input class="input" th:value="${alumno.tutor.getNombre()}" type="text" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Total horas realizadas:</label>
                <input class="input" th:value="${alumno.horasdual}" type="number" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Total horas restantes:</label>
                <input class="input" th:value="700 - ${ alumno.horasdual}" type="number" readonly>
            </div>
        </div>
    </div>

    <div class="empresa">
        <h2 class="titulo">Datos Empresa</h2>
        <div class="infoempresa">
            <div class="input-container">
                <label class="textolabel">Nombre:</label>
                <input class="input" th:value="${alumno.empresa.nombre}" type="text" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Responsable:</label>
                <input class="input" th:value="${alumno.empresa.responsable}" type="text" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Email:</label>
                <input class="input" th:value="${alumno.empresa.email}" type="email" readonly>
            </div>
            <div class="input-container">
                <label class="textolabel">Teléfono:</label>
                <input class="input" th:value="${alumno.empresa.telefono}" type="text" readonly>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <table>
        <tr>
            <th>Fecha</th>
            <th>Tipo de práctica</th>
            <th>Horas de el día</th>
            <th>Actividades realizada</th>
            <th>Observaciones</th>
            <th></th>
        </tr>
        <!-- Iterar sobre la lista de actividades y mostrar cada una en una fila de la tabla -->
        <tr th:each="actividad : ${actividades}">
            <td class="fecha" th:text="${actividad.fecha}">Fecha de la actividad</td>
            <td class="tipo" th:text="${actividad.tipo}">Tipo de práctica</td>
            <td class="horas" th:text="${actividad.horas}">Horas de la actividad</td>
            <td class="actividad" th:text="${actividad.actividad}">Descripción de la actividad</td>
            <td class="observaciones" th:text="${actividad.observacion}">Observaciones</td>
            <td>
                <form th:action="'/detalleActividad/'+ ${actividad.idactividad}" method="get">
                    <input type="hidden" name="idAlumno" th:value="${idAlumno}">
                    <input type="hidden" name="fecha" th:value="${#dates.format(actividad.fecha, 'yyyy-MM-dd')}">
                    <input type="hidden" name="tipo" th:value="${actividad.tipo}">
                    <input type="hidden" name="horas" th:value="${actividad.horas}">
                    <input type="hidden" name="actividad" th:value="${actividad.actividad}">
                    <input type="hidden" name="observacion" th:value="${actividad.observacion}">
                    <button class="buttonEdit" type="submit">Editar</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <form th:action="'/irAña/' + ${idAlumno}" method="get">
        <button class="buttonIS" type="submit">Añadir</button>
    </form>
    <form action="/logout" method="get">
        <button class="buttonCS" type="submit">Cerrar Sesión</button>
    </form>

</div>
</body>
</html>